<h1>Examples for using '<%= @search.word %>'</h1>

<% @search.sentences.each do |sentence| %>
  <ul class="example-list">
    <li class="example"><%= sentence %></li>
  </ul>
<% end %>

<% @search.regions.each do |region| %>
  <h2 class="region">Region(s):<%= region %></h2>
<% end %>
