<h1>Examples for using '<%= @search.word %>'</h1>

<% @search.sentences.each do |sentence| %>
  <ul class="example-list">
    <li class="sentence-text">"<%= sentence.text %>"</li>
    <li class="sentence-region"><i>- From the <%= sentence.region %> region.</i></li>
  </ul>
<% end %>
